@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=@Model.GmapsApiKey&libraries=places"></script>

<form>
    <div class="form-group">
        <label for="locationInput">Enter Location</label>
        <input type="text" class="form-control" id="locationInput" placeholder="Enter your postcode, town or city" data-cy="enterLocationInput" />
    </div>
</form>


<h3>Result:</h3>
<input type="text" data-cy="lat" id="lat" class="form-control"  placeholder="Latitude"/>
<br/>
<input type="text" data-cy="lng" id="lng" class="form-control" placeholder="Longitude"/>

<script>
    const locationInput = document.getElementById("locationInput");
    const latInput = document.getElementById("lat");
    const lngInput = document.getElementById("lng");
    const ENTER_KEY = 13;

    const GOOGLE_PLACES_AUTOCOMPLETE_OPTIONS = {
        componentRestrictions: { country: "GB" },
        types: ["geocode"]
    };

    const { maps } = window.google;

    const autocomplete = new maps.places.Autocomplete(
        locationInput,
        GOOGLE_PLACES_AUTOCOMPLETE_OPTIONS
    );

    maps.event.addDomListener(
        locationInput,
        "keydown",
        e => event.keyCode === ENTER_KEY && e.preventDefault()
    );

    autocomplete.addListener("place_changed",
        () => {
            var place = autocomplete.getPlace();
            const lat = place.geometry.location.lat();
            const lng = place.geometry.location.lng();
            latInput.value = lat;
            lngInput.value = lng;
        });
</script>