@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=@Model.GmapsApiKey&libraries=places"></script>

<form>
    <div class="form-group">
        <label for="locationInput">Enter Location</label>
        <input type="text" class="form-control" id="locationInput" placeholder="Enter your postcode, town or city" data-cy="enterLocationInput" />
    </div>
</form>

<h3>Result:</h3>
<input type="text" data-cy="lat" id="lat" class="form-control" placeholder="Latitude" />
<br />
<input type="text" data-cy="lng" id="lng" class="form-control" placeholder="Longitude" />

<script src="js/MapsFunctionality.js"></script>